.header__logo {
  max-width: 142px;
}

@media screen and (max-width: 900px) {
  .header__logo {
    padding-left: 19px;
  }
}


@media screen and (max-width: 420px) {
  .header__logo {
    max-width: 104px;
    padding-left: 27px;
  }
}
