.profile__info {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 22px;
}

@media screen and (max-width: 700px) {
  .profile__info {
    align-items: center;
    max-width: 100%;
    padding-top: 26px;
    padding-left: 0;
  }
}
