.form-popup__save {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  min-width: 358px;
  min-height: 50px;
  border-radius: 2px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  background-color: #000;
  margin-top: 21px;
  width: 100%;
  cursor: pointer;
  }

.form-popup__save:hover {
  opacity: .8;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 700px) {
  .form-popup__save {
    font-size: 14px;
    line-height: 17px;
    min-width: 238px;
    min-height: 47px;
    margin-top: 14px;
  }
}
