.profile__edit-button {
  background-image: url("../../../images/edit-button.svg");
  min-width: 24px;
  height: 24px;
  background-repeat : no-repeat;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0);
  background-position: center;
  margin-left: 18px;
  box-sizing: border-box;
  margin-top: 15px;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 700px) {
  .profile__edit-button {
    margin-left: 10px;
    margin-top: 14px;

  }
}

@media screen and (max-width: 420px) {
  .profile__edit-button {
    min-width: 18px;
    height: 18px;
    margin-top: 8px;
  }
}
